.posts {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 80px;
	margin: 20px 20px;
}
.hero {
	display: flex;
	font-size: 5rem;
	min-height: 30vh;
	justify-content: center;
	align-items: center;
}
.header {
	font-size: 1.5rem;
	font-variant-caps: all-small-caps;
}
.card {
	background-color: white;
	padding: 1.2rem;
	border-radius: 1rem;
	overflow: hidden;
	position: relative;
	border-style: none;

	// shadow effect
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	transition: 200ms;
	&:hover {
		transition: 200ms;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}

	span,
	p,
	h1,
	h2,
	h3 {
		color: rgb(26, 26, 26);
		margin: 0;
	}
	p {
		font-size: 0.8rem;
		margin-bottom: 0.8rem;
	}
	h3 {
		font-size: 1rem;
	}
	span {
		color: rgba(146, 43, 225, 1);
		font-size: 0.6rem;
		font-weight: bold;
	}
	.thumbnail {
		border-radius: 1rem;
		overflow: hidden;
		// box-shadow: 30px 30px 40px #141313, -30px -30px 40px #1c1919;
		margin-bottom: 0.5rem;
		.alternateImage {
			width: 100%;
		}
	}
	.chip {
		display: block;
		background-color: #f7e4e4;
		width: fit-content;
		padding: 3px;
		border-radius: 3px;
	}
	.excerpt {
		margin-top: 0.5rem;
		h3 {
			font-size: 0.85rem;
		}
		p {
			margin-top: 0.5rem;
			font-size: 0.65rem;
			font-weight: 500;
		}
	}
	.footer {
		display: flex;
		padding: 1px;
		position: relative;
		p {
			padding: 0;
			margin: 0;
			font-size: 0.6rem;
			color: rgb(116, 114, 114);
			font-weight: 700;
		}
		.readMore {
			border-radius: 1rem;
			background-color: rgba(146, 43, 225, 1);
			position: absolute;
			border-style: none;
			right: -2.5rem;
			top: -0.2rem;
			padding-bottom: 2rem;
			padding-top: 0.7rem;
			padding-right: 2rem;
			padding-left: 1rem;

			font-size: 0.8rem;
			font-weight: bold;
			background: radial-gradient(at top left, rgba(146, 43, 225, 1) 0%, rgb(75, 21, 175) 100%);
		}
	}
}
